
<div class="slider-section">
  <div class="slide-inner">
    <div class="container h-100">
      <div class="col-sm-7 h-100">

        <div class="slide-content h-100">
          <h3>Order Groceries For <br>Delivery or Pickup Today</h3>
          <p>Whatever you want from local stores, brought right to your door.</p>
          <div class="buttonslide">
            <a href="/product" class="btn common-btn">Shop Now</a>
            <a href="/product" class="btn common-btn read">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider-section End Here -->

<div class="section-two">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Grocery delivery you can count on</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="col-box-common">          
          <div class="col-txtbox">
            <h3>Choose what you want</h3>
            <p>Select items from your favorite grocery stores at Dushicart.com or in the app.</p>
          </div>
          <img src="/cshop-client/images/image-1.jpg" alt="" class="img-fluid">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-box-common">          
          <div class="col-txtbox">
            <h3>See real-time updates</h3>
            <p>Personal shoppers pick items with care. Chat as they shop and manage your order.</p>
          </div>
          <img src="/cshop-client/images/image-2.jpg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="col-box-common">          
          <div class="col-txtbox">
            <h3>Choose what you want</h3>
            <p>Pick a convenient time for you. Enjoy Dushicart’s 100% quality guarantee on every order.</p>
          </div>
          <img src="/cshop-client/images/image-3.jpg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-sm-12">
        <p class="text-center"><a href="/product" class="start-shop-btn">Start shopping</a></p>
      </div>

    </div>
  </div>
</div>
<!-- section two End Here -->


<div class="app-section mt-4">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-6">
       <div class="form-left-section">
        <h3>Shopping is easier with the free Dushicart app</h3>
        <p>See live updates, chat with your shopper, and easily track your order.</p>
        <form class="share-phone-link">
          <div class="form-group">
            <div class="form-check">
             <input type="tel" id="phone" name="phone" placeholder="Phoen Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
           </div>
         </div>
         <div class="form-group ">
          <button type="submit" class="btn download-link">Text me a download link</button>
        </div>
      </form>

      <div class="bottom-links">
        <span>Message and data rates may apply. By continuing you are agreeing to our </span><a href="/terms">Terms of Service</a> &amp; <a href="/privacy">Privacy Policy.</a>
      </div>

      <div class="bottom-btns mt-4">
       <a href=""><i class="fab fa-apple"></i> IOS</a><a href=""><i class="fab fa-google-play"></i> Android</a>
     </div>
   </div>
 </div>

 <div class="col-sm-6">
  <img src="/cshop-client/images/mob-view.jpg" alt="" class="img-fluid app-img">
</div>

</div>
</div>
</div>
<!-- app section End Here -->


<div class="about-section mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>The world's largest online<br> grocery service</h2>
        <img src="/cshop-client/images/middle-bg-1.jpg" class="img-fluid">
      </div>
    </div>

    <div class="row speciality-boxes mt-3">
      <div class="col-md-3 col-sm-6">
        <div class="speciality-txt-box">
          <h3>500 million product</h3>
          <p>available to shop across the catalog</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="speciality-txt-box">
          <h3>40,000<br> stores</h3>
          <p>from local grocers to chain stores</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="speciality-txt-box">
          <h3>5,500+ <br>cities</h3>
          <p>served across the U.S. & Canada</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="speciality-txt-box">
          <h3>Millions of orders</h3>
          <p>delivered or picked up yearly</p>
        </div>
      </div>

    </div>   
  </div>
</div>
<!-- about section End Here -->


<div class="faq-section mt-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Common questions</h2>
        <div class="faq-accordion" id="faq-accordion">
          <div class="card">
            <div class="card-header" id="faq-accordion-1">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne">How does Dushicart delivery and curbside pickup work?<i class="fa fa-plus"></i></button>                  
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faq-accordion-1">
              <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-accordion-2">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo">How much does Dushicart cost?<i class="fa fa-plus"></i></button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-accordion-2">
              <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="faq-accordion-3">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"> What happens if there’s an issue with my order? <i class="fa fa-plus"></i></button>                     
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-accordion-3">
              <div class="card-body">
                <p>If something isn’t right, you’ve got options. In the Dushicart app or website, you can report:<br>

                  - Missing items<br>
                  - Incorrect items<br>
                  - Damaged items<br>
                  - Poor replacements<br>
                  - Early/late orders<br>
                If an order never came, or you get someone else’s order, you can reach out to Dushicart Care.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq-accordion-4">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour">Can I get contactless delivery with Dushicart?<i class="fa fa-plus"></i></button>                     
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#faq-accordion-4">
              <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="faq-accordion-5">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive">What happens if there’s an issue with my order? <i class="fa fa-plus"></i></button>                     
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#faq-accordion-5">
              <div class="card-body">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>   
  </div>
</div>
<!-- faq section End Here -->